<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</head>
<body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="http://localhost:3000/dashboard">
                    Ultimate Quiz App
                  </a>
            
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <a class="navbar-item" href="http://localhost:3000/dashboard">
                      Home
                    </a>
              
                    <a class="navbar-item" href="http://localhost:3000/dashboard/choose-quiz"">
                      Take Quiz
                    </a>
                    <a class="navbar-item" href="http://localhost:3000/api/v1/users">
                      GET All Users
                    </a>
                    <a class="navbar-item" href="http://localhost:3000/api/v1/quiz">
                      GET All Quiz
                    </a>
                    <a class="navbar-item" href="http://localhost:3000/api/v1/quiz/category">
                      GET ALL Quiz Category
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      Report an issue
                    </a>
              
                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        More
                      </a>
              
                      <div class="navbar-dropdown">
                        <a class="navbar-item" href="http://localhost:3000/users/profile">
                          My Profile
                        </a>
                        <a class="navbar-item" href="http://localhost:3000/dashboard/create">
                          Create Quiz
                        </a>
                        <a class="navbar-item">
                          Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                          Report an issue
                        </a>
                      </div>
                    </div>
                  </div>
              
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-light" href="http://localhost:3000/users/logout">
                          Logout
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
    
</body>
</html>