<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Quiz Category</title>
    <link rel="stylesheet" href="/stylesheets/choose-quiz.css">
</head>
<body>
    <!-- centering whole body -->
    <center>
    <!-- Main Wrapper -->
    <main class="main">
            <h1>
                    Choose Quiz <span class="yellow">Category</span> 
            </h1>
        <!-- Wrapper Starts -->
        <div class="wrapper">
            <!-- heading starts -->
                 <% for (var i = 0; i < data.category.length;  i++) { %>
                    <a class="link" href="/quiz/category/<%= data.category[i] %>"><span class="category"><%= data.category[i] %></span></a> 
                <% } %>
        </div>
    </main>
    <script src='/javascripts/main.js'></script>
    </center>
</body>
</html>