<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Quiz</title>
</head>
<body>
    <form action="/dashboard/create" method="POST">
        <h2>Create your Quiz</h2>
        <input type="text" placeholder="Enter title" name="title">
        <input type="text" placeholder="Question Description" name="description">
        <input type="text" name="option1">
        <input type="text" name="option2">
        <input type="text" name="option3">
        <input type="text" name="option4">
        <input type="text" placeholder="input tags" name="tags">
        <input type="number" placeholder="points" name="score">
        <input type="text" placeholder="Correct option" name="correct" list="options">
        
        <button type="submit">Submit Question</button>
    </form>
</body>
</html>