<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/quiz-form.css"/>
</head>
<body>
    <center>
    <form action="/dashboard/create" method="POST">
        <h1>Create Your Quiz</h1>
        <label class="form-label">Title</label>
        <input type="text" placeholder="Enter Question title" name="title">
        <label class="form-label">Description</label>
        <input type="text" placeholder="Enter Question Description" name="description">
        <label class="form-label">Option 1</label>
        <input type="text" placeholder="Enter Option 1" name="option1">
        <label class="form-label">Option 2</label>
        <input type="text" placeholder="Enter Option 2" name="option2">
        <label class="form-label">Option 3</label>
        <input type="text" placeholder="Enter Option 3" name="option3">
        <label class="form-label">Option 4</label>
        <input type="text" placeholder="Enter Option 4" name="option4">
        <label class="form-label">Category</label>
        <input type="text" placeholder="choose category" name="category" list="tags">
        <input type="hidden" name="user" value="<%= user._id %>"
        <datalist id="tags">
            <option value="Javascript"></option>
            <option value="WordPress"></option>
            <option value="Games"></option>
            <option value="Sports"></option>
        </datalist>
        <label class="form-label">Score for right answer</label>
        <input type="number" placeholder="points" name="score">
        <label class="form-label">Correct Option</label>
        <div class="container">
                <div class="row">
                  <div class="col">
                    <input class="first-row" type="radio" name="correct" value="1"><span class="up">1</span>
                  </div>
                  <div class="col">
                    <input class="first-row"type="radio" name="correct" value="2"><span class="up">2</span>
                  </div>
                  <div class="col">
                    <input class="first-row" type="radio" name="correct" value="3"><span class="up">3</span>
                  </div>
                  <div class="col">
                    <input class="first-row" type="radio" name="correct" value="4"><span class="up">4</span>
                  </div>
                </div>
              </div>
        <button class="btn btn-success" type="submit">Submit Question</button>
    </form>
    </center>
    <% include partials/footer %>
</body>
</html>