<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - Create Awesome Quiz & Challenge Your Friends</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<% include partials/header %>
<body class = "body-class">
    <center class="center-class">
        <h1>Welcome to The Ultimate Quiz Creator</h1>
        <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">ULTIMATE QUIZ CREATOR TOOL</h5>
              <h6 class="card-subtitle mb-2 text-muted">Create & Take Quiz Of Your Interests</h6>
              <p class="card-text">Create & Take Quiz related to various topics according to your interests. Choose option of your choice from the provided options below.</p>
              <a href="http://localhost:3000/dashboard/choose-quiz" class="card-link">Take Quiz</a>
              <a href="http://localhost:3000/dashboard/create" class="card-link">Create Quiz</a>
            </div>
        </div>
    </center>
</body>
</html>