<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard - Create Awesome Quiz & Challenge Your Friends</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<% include partials/header %> 
<body class = "body-class">
    <center class="center-class">
        <h1>Welcome to The Ultimate Quiz Creator</h1>
            <header>
                <a href="/users/logout"><button>Logout</button></a>
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                  <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                  </a>
                
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
                
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <a class="navbar-item">
                      Home
                    </a>
                
                    <a class="navbar-item"href="http://localhost:3000/dashboard/choose-quiz">
                      Choose quiz
                    </a>
                
                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link" href="http://localhost:3000/users/profile">
                        User Profile
                      </a>
                
                      <div class="navbar-dropdown">
                        <a class="navbar-item">
                          About
                        </a>
                        <a class="navbar-item">
                          Jobs
                        </a>
                        <a class="navbar-item">
                          Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                          Report an issue
                        </a>
                      </div>
                    </div>
                  </div>
                
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-primary">
                          <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                          Log in
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                  </nav>
            </header>
        <div class="card" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title">ULTIMATE QUIZ CREATOR TOOL</h5>
              <h6 class="card-subtitle mb-2 text-muted">Create & Take Quiz Of Your Interests</h6>
              <p class="card-text">Create & Take Quiz related to various topics according to your interests. Choose option of your choice from the provided options below.</p>
              <a href="http://localhost:3000/dashboard/choose-quiz" class="card-link">Take Quiz</a>
              <a href="http://localhost:3000/dashboard/create" class="card-link">Create Quiz</a>
              <a href="http://localhost:3000/users/profile" class="card-link">User Profile</a>
            </div>
        </div>
    </center>
    <% include partials/footer %>
</body>
</html>