<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <link rel='stylesheet' href='/stylesheets/login-form.css' />
  </head>
  <body>
    <form class="box" method="POST" action="/users/login">
      <h1>LOGIN</h1>
        <!-- <label>Email</label>
            <input name="email" type="text"> -->
        <!-- <label>Username</label> -->
            <input name="username" placeholder="Username" type="text">
        <!-- <label>Passsword</label> -->
            <input name="password" placeholder="password" type="password">
        <button type="submit">Login</button>
    </form>
  </body>
</html>