<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/users/login">
        <label>Email</label>
            <input name="email" type="text">
        <label>Username</label>
            <input name="username" type="text">
        <label>Passsword</label>
            <input name="password" type="password">
        <button type="submit">Login</button>
    </form>
  </body>
</html>