<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/users/register">
        <label>Email</label>
            <input name="email" type="text">
        <label>Username</label>
            <input name="username" type="text">
        <label>Passsword</label>
            <input name="password" type="password">
        <button type="submit">Register</button>
    </form>
  </body>
</html>