<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/userdisplay.css">
    <title>Document</title>
</head>
<body>
    <% user.forEach(user =>{%>
    <div class="profile-card">
            <h1>User Information</h1>
        <h3>
            <%= user.username %>
        </h3>
        <h3>
            <%= user.email %>
        </h3>
        <a class="anchor" href="/users/<%=user._id %>/edit">
            Edit
        </a>
        <% include partials/footer %>
    </div>
    <%})%>
</body>
</html>