<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/users/<%= user._id %>/update">
        <h1>Edit</h1>
        <div class="container">
            <input name="email" placeholder="Email" type="text" value="<%= user.email%>">
            <input name="username" placeholder="Username" type="text" value="<%= user.username%>">
            <div>
                <button class="btn" type="submit">Update</button>
            </div>
        </div>
        <div>
            <a href="/users/<%=user._id %>/delete">
                Delete
            </a>
        </div>
    </form>    
</body>
</html>